<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>第4周_控制层Web开发_Servlet进阶</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <context-param>
  	<param-name>app</param-name>
  	<param-value>myapp application</param-value>
  </context-param>
  
   <servlet>
    <servlet-name>param</servlet-name>
    <servlet-class>GetInitParamServlet_41</servlet-class>
    <init-param>
    	<param-name>site</param-name>
    	<param-value>www.gdqy.edu.cn</param-value>
    </init-param>   
  </servlet>
  
  <servlet-mapping>
    <servlet-name>param</servlet-name>
    <url-pattern>/getInitParamServlet_41</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>param</servlet-name>
    <url-pattern>/GetInitServlet_411</url-pattern>
  </servlet-mapping>
  
  
  <!-- 4.2 -->
  <servlet>
  	<servlet-name>A</servlet-name>
  	<servlet-class>AServlet_42</servlet-class>
  </servlet>
 <servlet-mapping>
 	<servlet-name>A</servlet-name>
 	<url-pattern>/AServlet_42</url-pattern>
 </servlet-mapping>
 
   <servlet>
  	<servlet-name>B</servlet-name>
  	<servlet-class>BServlet_42</servlet-class>
  </servlet>
 <servlet-mapping>
 	<servlet-name>B</servlet-name>
 	<url-pattern>/BServlet_42</url-pattern>
 </servlet-mapping>
 
 <!-- 4.3 -->
 <servlet>
	<servlet-name>sessionid</servlet-name>
  	<servlet-class>SessionIdServlet_43</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>sessionid</servlet-name>
 	<url-pattern>/sessionid</url-pattern>
 </servlet-mapping>
 <servlet>
  	<servlet-name>showSession</servlet-name>
  	<servlet-class>ShowSession_43</servlet-class>
  </servlet>
 <servlet-mapping>
 	<servlet-name>showSession</servlet-name>
 	<url-pattern>/ShowSession</url-pattern>
 </servlet-mapping>
 
  
</web-app>





 
 
 