<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<style>
.pic {display:inline-block;width:200px; vertical-align:top;margin:10px;}
.info { display:inline-block; width:500px;}
.title { }
.price { margin: 10px;color:red; }
h3 { display:inline-block;}}
.pl {color:#888;}
.author {}
.date {}
.detail {}
</style>
<div>
    <div class="pic">
        <img width="200" id="image" src='/images/xiaomi11-1.jpg'>
 </div>
 <div class="info">
    <div class="title"><h3 id="title" style="display:inline-block">小米 11</h3></div>
    <div class="mark">
        <span class="pl">品牌</span>:<span name="mark">小米</span>
    </div>
    <div class="date">
        <span class="pl">生产日期</span>:<span name="date">2020-12-01</span>
    </div>
    <div class="price">
        <span class="pl">价格</span>:<span name="price"> ¥4299</span>
    </div>
        <div>简介:</div>
        <div class="detail">
            小米11 8GB+256GB
            骁龙888｜2K AMOLED 四曲面柔性屏｜1亿像素三摄｜时尚轻薄机身｜
            55W 有线闪充｜50W 无线闪充｜10W 无线反充｜LPDDR5｜WiFi6（增强版）
            ｜视频「超级夜景」｜哈曼卡顿音频认证｜立体声双扬声器
    <a href="#">双卡双待</a>
    <a href="#">移动联通</a>
         </div>
 </div>

</div>


</body>
</html>

