
<!-- 3.1.1 表单 text password -->

<!-- form表单变成模块；使用p元素（段落）做这个模块
<form name="frm" action="" method="post">

{{form.as_p}}   

<input type="submit" value="提交" />
</form>

-->


<!-- form表单变成模块；使用table元素( 表格 )做这个模块.
<form name="frm" action="" method="post">
    <table border="1">

    {{form.as_table}}  

    </table>
    <input type="submit" value="提交" />
</form>
    -->


<!-- ul是列表框 -->
<form name="frm" action="" method="post">
    
    <ul>
    {{form.as_ul}}  
    </ul>

    <input type="submit" value="提交" />
</form>


